@font-face {
	src: url(fonts/SourceSansPro.ttf);
	font-family: sansPro;
}

body {
	font-family: sansPro;
	padding: 0;
	margin: 0;
}

#map-root {
	background-color: #AADAFF;
	width: 100%;
	height: 100vh;
	overflow: scroll;
}

#map {
	padding: 20px;
	position: relative;	
	top: 0px;
	left: 0px;
}

#map-sidebar {
	float: right;
	background-color: #F5F5F5;
	width: 25%;
	height: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#map-content {
	width: 75%;
	height: 100%;
	float: left;
	overflow: hidden;
}

#map-davao {
	height: 600px;	
	position: relative;
}

.hover {
	background-color: #FF9800;
}

.stat-box {
	z-index: 2;
	background-color: #fff;
	position: absolute;
	padding: 10px;
	width: 150px;
}

.filter-box {
	z-index: 2;
	position: absolute;
	background-color: #fff;
	padding: 10px;
	top: 180px;
}

.filter-position-box {
	position: absolute;
	top: 250px;
	left: 10px;
	background-color: #fff;
	width: 200px;
}

.cls-1, .cls-2{
	fill: #fff;
	stroke: #AADAFF;
	fill-rule: evenodd;
	stroke-width: 1.2px;
}

.cls-2{
	stroke-miterlimit: 10;
}

svg text {
	fill: #7E8EA5;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

svg path {
	transition: all 0.2s ease-in-out 0s;
}

#purok-list {
	background-color: #ffffff;
}